### Build artifacts ###
target/
*.jar
*.tar
*.zip

### Git ###
.git
.gitignore

### IDEs ###
.idea
*.iml
*.iws
*.ipr
.vscode/

### macOS ###
.DS_Store
__MACOSX

### Docker / MySQL ###
mysql_data/

### Otros ###
*.log
